.card {
  display: block;
  margin: 0 0 30px;
  overflow: hidden;
  max-width: 100%;
  --bg-color: #fff;
  --main-color: #323232;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  transition: all 0.2s;
}
.card:hover {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.card .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card .image-container:hover img {
  -webkit-filter: grayscale(100%) blur(2px);
	filter: grayscale(100%) blur(2px);
}

.card-details {
  padding: 16px;
}

.card-details h3 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
}

.author, .dimensions{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #686868;
}

.author img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.card .downloadButton {
  --main-color: #323232;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  color: #323232;
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 10px;
  opacity: 0;
  pointer-events: none;
}
  
.card .image-container:hover .downloadButton {
  opacity: 1;
  pointer-events: auto;
}

.authorLink{
  color: #323232 !important;
  text-decoration: none;
}